<!DOCTYPE html>
<!-- Thymeleaf Namespace -->
<html xmlns:th="https://www.thymeleaf.org">
	<head>
		<!-- Required meta tags -->
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">

 		<title>Lingo Web App</title>

 		<!-- CSS -->
 		<link rel="stylesheet" href="/css/styles.css"/> 		
	</head>
	<body>
 		<div class="background">
 			
 			<img th:src="@{/images/lingo_logo.png}" style="width:15vw;height:10vh;position:relative;left:3vh; top:1vw;"  alt="Logo"><br>
 			<img th:src="@{/images/game_ended.png}" style="width:55vw;height:15vh" alt="Game Ended" class="center">
 			
 			<p style="font-family:abhaya libre regular; text-align: center; font-size:3vw">
				TOTAL POINTS: !!!<br>
				<img th:src="@{/images/crown.png}" style="width:10vw;height:15vh;vertical-align:middle" alt="Crown">
				<span style="font-size:2vw">HIGHSCORE: !!!</span>
			</p>
			
 		</div>
	</body>	
</html>
