<!DOCTYPE html>
<!-- Thymeleaf Namespace -->
<html xmlns:th="https://www.thymeleaf.org">
	<head>
		<!-- Required meta tags -->
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">

 		<title>Lingo Web App</title>

 		<!-- CSS -->
 		<link rel="stylesheet" href="/css/styles.css"/>
	</head>
	<body>
 		<div class="background">
			<div class="startButton">
			<p th:text="'word is: ' + ${word}"/><p><!-- just for debugging purpose -->
				<form th:action="@{/game}">
	  				<input type="text" placeholder="Enter word here" th:name="word"/>
	  				<input class="submit-button-data" type="submit" value="SUBMIT">
  				</form>
			</div>
 		</div>
	</body>	
</html>
